.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0; // only bottom
        background: set-text-color($primary-color);
        @include easeOut;

    }

    &.close{ // menuBtn.classList.add('close');
        transform : rotate(180deg);

        .btn-line{
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.menu {
    position: fixed;
    top:0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;    

    &.show { // menu.classList.add('show');
        visibility: visible;
    }

    &-branding, &-nav { 
        // <div class="menu-branding">, <ul class="menu-nav">
        display: flex;
        flex-flow: column wrap; // up and down
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav { // <ul class="menu-nav">
        margin: 0;
        padding: 0;
        background: darken($primary-color, 3);
        list-style: none;
        
        transform: translate3d(0, -100%, 0); // pushing down -100%
        @include easeOut;
        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);
        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    .nav-item { // <li class="nav-item">
        transform: translate3d(600px, 0, 0); // left and right
        @include easeOut;

        &.show {
            // Slide in from right
            transform: translate3d(0, 0, 0);
        }

        &.current > a { // current link
            color: $secondary-color;
        }
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .nav-link { // <a href="index.html" class="nav-link">
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}


@for $x from 1 through 5 { // for(let x =0; i < 4; i++) 
    .nav-item:nth-child(#{$x}) { // wrap x in a number sign
        transition-delay: $x * 0.1s;
    }
}