// Widescreens
@include mediaXl {
    
    .activities {
        grid-template-columns: repeat(4, 1fr);
    }
    .about-studying {
        .my-image {
            width: 80%;
 
        }
    }

    .traveling {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

// Desktops & Laptops
@include mediaLg {
    .activities {
        grid-template-columns: repeat(4, 1fr);
    }
    .traveling {
        grid-template-columns: repeat(4, 1fr);
    }  
}

@include mediaLmd{
    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0); // left
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0); // right
        
        .portrait{
            width: 150px;
            height: 150px;
        }
    }

    .course{
        h3{
            height: 80px;
        }
    }

    .activities {
        grid-template-columns: repeat(3, 1fr);
    }

    .traveling {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
        padding: 5rem 0rem;
    }

    h1, h2, h3 {
    
        &.lg-heading { // <h1 class="lg-heading">
            font-size: 4.4rem;
            
        }        
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0); // left
        font-size: 24px;
    }
    

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0); // right
        
        .portrait{
            width: 150px;
            height: 150px;
        }
    }

    .about-studying {
        grid-template-areas:
        'myimage' 'info' 'info'
        'course1' 'course2' 'course3'
        'course4' 'course5' 'course6'
        'course7' 'course8' 'course9';

        grid-template-columns: 1fr;

        .my-image {
            width: 70%;
        }
    }

    .activities {
        grid-template-columns: repeat(2, 1fr);
    }      
    
    .traveling {
        grid-template-columns: repeat(2, 1fr);
    }    
}

// Smartphone
@include mediaSm {

    main {
        padding: 2rem;
        #home h1 {
          margin-top: 10vh;
        }
    
        .lg-heading {
          margin-top:1rem;
          font-size: 4rem;
        }
    }

    .nav-item{
        .nav-link {
            font-size: 25px;
        }
    }
        
    .about-studying {
        grid-template-areas:
        'myimage' 'info' 'info'
        'course1' 'course2' 'course3'
        'course4' 'course5' 'course6'
        'course7' 'course8' 'course9';

        grid-template-columns: 1fr;

        .my-image {
            width: 70%;
        }
    }

    .activities {
        grid-template-columns: 1fr;
    }

    .traveling {
        grid-template-columns: 1fr;
    }
}